body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:sl(0,0%,95%) ;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color:hsl(0,0%,15%);
    border-radius:15px;
    max-width: 80vh;
    max-height: 100vh;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border:none;
    background-color:hsl(0,0%,20%);
    color:white;
}

#keys{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 3%;
   padding:8%;
   padding-bottom: 50px;
   
   
}

button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 45%);
}

button:active{
    background-color: hsl(0, 0%, 60%);
}

.operator-btn{
    background-color: hsl(35, 100%, 45%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}

.clear-btn{
    background-color: hsl(0, 100%, 35%);
    border-radius: 020%;
    height: 45px;
}

.clear-btn:hover{
    background-color: hsl(0, 100%, 45%);
}

.clear-btn:active{
    background-color: hsl(0, 100%, 75%);
}